<ul class="pageMenu">
    <li ng-class="{true: 'active'}[step == 0]">
        <a href="" ng-click="setStep(0)">intro</a>
    </li>
    <li ng-class="{true: 'active'}[step == 1]">
        <a href="" ng-click="setStep(1)">prepare enviroment</a>
    </li>
    <li ng-class="{true: 'active'}[step == 2]">
        <a href="#" ng-click="setStep(2)">static template</a>
    </li>
    <li ng-class="{true: 'active'}[step == 3]">
        <a href="#" ng-click="setStep(3)">app configuration</a>
    </li>
    <li ng-class="{true: 'active'}[step == 4]">
        <a href="#" ng-click="setStep(4)">authentication</a>
    </li>
    <li ng-class="{true: 'active'}[step == 5]">
        <a href="#" ng-click="setStep(5)">html decorating</a>
    </li>
    <li ng-class="{true: 'active'}[step == 6]">
        <a href="#" ng-click="setStep(6)">routing</a>
    </li>
    <li ng-class="{true: 'active'}[step == 7]">
        <a href="#" ng-click="setStep(7)">app parametrization</a>
    </li>
    <li ng-class="{true: 'active'}[step == 8]">
        <a href="#" ng-click="setStep(8)">e2e tests</a>
    </li>
</ul>