<div remote-content="https://confluence.bw-sl.com/rest/prototype/1/content/3867605.json?expand=comments">

    <script type="text/ng-template" id="comment">
        <div class="comment">
            <div class="inner" style="background-image: url('https://confluence.bw-sl.com{{ comment.creator.avatarUrl }}')">
                <div class="title">
                    <span class="by"> {{ comment.creator.displayName }}</span> <span class="when">{{ comment.lastModifiedDate.friendly }}</span>
                </div>
                <div class="body" ng-bind-html-unsafe="comment.body.value">
                </div>
            </div>
            <div ng-repeat="comment in comment.children.content" ng-include="'comment'"></div>
        </div>
    </script>

    <div class="pageTitle" style="">
        <h1>
            tutorial
            <a href="{{ content.link[0].href }}" target="_blank" style="font-size: 18px"><i class="icon-edit"></i></a>
        </h1>
        <h3>{{ content.title }}</h3>
    </div>

    <div ng-bind-html-unsafe="content.body.value"></div>

    <button class="next" ng-click="setStem(1)">
        next
    </button>

    <div class="comments" ng-show="content.comments.content.length > 0">
        <h3>
            commentaries
        </h3>
        <div ng-repeat="comment in content.comments.content" ng-include="'comment'"></div>
    </div>




</div>