<div dynamic-app="markupExapmle" class="markupExapmle">
    <div class="info">
        This is example of usage the lynx models.<br/>To perform
        any action on OSA/Velvet, you have to authenticate first.
    </div>
    <div ng-show="!$auth.authenticated"
        ng-init="$auth.rememberUserName = true">
        <input placeholder="user" type="text"
            ng-model="$auth.userName">
        <input placeholder="password" type="password"
            ng-model="$auth.userPassword">
        <span ng-show="$auth.authentionFailed">
            Wrong password or user name.
        </span>
        <button ng-click="$auth.login()">
            login
        </button>
    </div>
     <form lx-if="$auth.authenticated" ng-submit="$search.searchByPhrase(query)">
          <input type="text" ng-model="query" placeholder="query"
              lx-focus="inputFocus = true;"
              lx-click-outside="inputFocus = false;">
          <button type="submit">
              search
          </button>
          <button ng-click="$auth.logout()">logout</button>
          <div lx-autocomplete class="suggestions"
               input=".markupExapmle input[ng-model='query']"
               model="query"
               visible="inputFocus && query.length > 1"
               options="item.Id for item in $search.getSuggestions(query, 5)">
               <span
                   ng-bind-html-unsafe="item.Id|highlight:query:false">
               </span>
           </div>
      </form>
      <div ng-show="$auth.authenticated && $search.getSearch()" class="result">
          First document title:
          {{ $search.getSearch().getResult().getItems()[0].Title }}
      </div>
</div>