<!-- login form -->
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <form role="form" class="col-6" ng-submit="$auth.login(username, password)" >
            <fieldset>

                <legend>Login</legend>

                <div ng-show="$auth.authentionFailed" class="alert alert-error">
                    Login failed
                </div>

                <div class="form-group">
                    <input placeholder="Username" type="text"
                        class="form-control" ng-model="username"
                        ng-disabled="$auth.pending">
                </div>

                <div class="form-group">
                    <input placeholder="Password" type="password"
                        class="form-control" ng-model="password"
                        ng-disabled="$auth.pending">
                </div>

                <button class="btn btn-primary" type="submit"
                    ng-disabled="$auth.pending">
                    Login
                </button>

            </fieldset>
        </form>
        <div class="col-3"></div>
    </div>
</div>