<!-- search bar component -->
<div class="row">
    <form role="form" class="col-12"
        ng-submit="$search.searchByPhrase(query)"
        onsubmit="window.location.hash = '/results';">
        <div class="input-group">
            <input type="text" class="form-control"
                placeholder="Type text for search"
                ng-model="query">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    Search
                </button>
            </span>
        </div>
    </form>
</div>
